<!DOCTYPE='html'>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<!--header-->
<a class='header_link' id='books_link'>Books</a>
<a class='header_link' id='people_link'>People</a>
<a class='header_link' id='potluck_link'>Pot Luck</a>

<h1 class='list'>People</h1>
<ul>
	<li><a href='#grant'>Grant</a></li>
	<li><a href='#sarah'>Sarah</a></li>
	<li><a href='#kevin'>Kevin</a></li>
	<li><a href='#vicky'>Vicky</a></li>
	<li><a href='#whitney'>Whitney</a></li>
	<li><a href='#nicole'>Nicole</a></li>
	<li><a href='#greg'>Greg</a></li>
</ul>



<script src='book_club.js'></script>
</body>
</html>
